* {
  margin: 0;
  padding: 0;
}
/* 页面基本结构 */
#root{
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}
#content{
  flex: 1;
}
#footer{
  margin-top: auto;
}

/* 头部 */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  flex-direction: column;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-title {
  font-size: 20px;
  font-weight: bold;
}

.introduce {
  font-size: 16px;
}

/* 内容 */
#content {
  border-top: 1px solid #ccc;
  display: flex;
  padding: 0 5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.user-box {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 0;
  position: relative;
  margin-top: 5px;
}

.user-left{
  height: calc(100% - 6px);
}

.user-left img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #ccc;
  height: 100%;
}

.user-right {
  margin-left: 10px;
}

.user-right .top{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.vip-box {
  background-color: #f39c12;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
  margin-left: 5px;
  margin-top: 2px;
}

.vip-box.no-vip {
  background-color: #333333;
  color: #fff;
}

.vip {
  font-size: 12px;
  font-weight: bold;
}

.vip-time {
  font-size: 14px;
  margin: 4px 0;
}

.cec-introduce {
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.abstract {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.specific {
  font-size: 14px;
  line-height: 1.5;
}

.activation-button {
  margin-top: 5px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activation-button:hover {
  background-color: #0056b3;
}


/* 页脚 */
#footer {
  font-size: 14px;
  color: #999;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

#footer a{
  color: #999;
}

.notification {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: -99;
  -webkit-transform: translateX(-50%) translateY(-20%);
  -moz-transform: translateX(-50%) translateY(-20%);
  -ms-transform: translateX(-50%) translateY(-20%);
  -o-transform: translateX(-50%) translateY(-20%);
}

.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  z-index: 99;
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
}

